</div>
<div class="footer">
  <ul>
    <br>
    <li><a href="https://www.linkedin.com/in/krisztian-kalmar/">LinkedIn</a></li>
  </ul>
  <div class="trademark">
    <span>© 2022 Krisztian Kalmar</span>
  </div>
</div>
</body>

</html>
