<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">
          <p class="navbar-brand"><strong>Krisztian Kalmar</strong> 🌏</p>
        </div>
      </div>
        <ul class="nav navbar-nav navbar-right" id="bootstrap-overrides">
          <li id="home"><a href="/">ABOUT</a></li>
          <li id="about"><a href="/writings">WRITINGS</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
