<%- include("partials/header") -%>


  <div class="contactContainer">
    <h1>Contact Me</h1>
    <br>
    <p>Do not hesitate to contact me with questions.</p>
    <div class="contact-box">
      <div class="contact-left">
        <h4>Send your request</h4>
        <form>
          <div class="input-row">
            <div class="input-group">
              <label>Name</label>
              <input type="name" placeholder="Your name">
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Email</label>
              <input type="email" placeholder="Email address">
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Subject</label>
              <input type="subject" placeholder="Subject title">
            </div>
          </div>

          <label>Message</label>
          <textarea rows="5" cols="80" placeholder="Your message"></textarea>

          <button type="submit" name="button">SEND</button>

        </form>
      </div>
      <div class="contact-right">
        <h4>Reach me</h4>

        <table>
          <tr>
            <td>Email</td>
            <td>kalmarschool@gmail.com</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>07769590408</td>
          </tr>
          <tr>
            <td>LinkedIn</td>
            <td><a href="https://www.linkedin.com/in/krisztian-kalmar/">https://www.linkedin.com/in/krisztian-kalmar/</a></td>
          </tr>
        </table>


      </div>
    </div>
  </div>


<%- include("partials/footer") -%>
