<%- include("partials/header") -%>

  <!-- <img class="cloud1" src="images/cloud2.png" alt="cloud"> -->
  <!-- <img class="cloud2" src="images/win.png" alt="cloud2"> -->

  <img class="profilePic" src="images/profile_picture.png" alt="profile">
  <img class="logo" src="images/kkalmar.png" alt="logo">

  <div class="topDiv">
    <h3 class="firstSentence">I aspire to become a <a>full-stack</a> web developer.</h3>
    <br>
    <p class="introduction">Hello! I'm <strong>Krisztian</strong>, a
    <a>confident</a> and dynamic
    <a>team oriented</a>
    graduate.</p>
    <p class="skillsAcquired">Through my work experiences I acquired essential
    personal and organizational skills.</p>
    <br>
    <p class="experience">I graduated the Queen Margaret University with a Bachelor's Degree</p>
    <p>in Hospitality and Tourism Management and have worked for numerous
    companies, </p><p>notably the GlenArbor Golf Club and The Principal.</p>
    <br>
    <p> Currently, I am in the process of changing carreers, to persue my
    <strong>passion</strong> for IT and<a>web development</a>!</p>
    <br>
    <p>As I acquiring new <a>skills</a> along my journey this blog is a
    <span class="virtual">virtual embodiment</span> of the knowledge</p>  <p>I acquire relating
    to development. Personally, it also serves as a milestone as I will be able
    to look </p><p>back at this in the future and to remind myself where
    I have come from and how much I have grown professionally.</p>
  </div>

<%- include("partials/footer") -%>
